.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;

  &-wrap {
    width: 35%;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__title {
      font-size:2rem;
      text-align: center;
      font-weight: 700;
      color: #1c3e58;
    }

    &__box {
      position: relative;
      height: 50px;
      margin: 2rem 0;

      &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        color: #252525;

        &:focus {
          border: 3px solid #1c3e58;
        }
      }

      &-label {
        position: absolute;
        top: 0.7rem;
        left: 1rem;
        padding: 0 0.25rem;
        color: #1c3e58;
        transition: 0.3s;
        z-index: 10;
        font-weight: 500;
        background-color: #fff;
      }

      &-input:focus + &-label {
        top: -0.7rem;
        left: 0.8rem;
        z-index: 10;
        font-weight: 500;
      }

      &-error {
        position: absolute;
        color: #1c3e58;
        right: 0;
        bottom: -50%;
      }
    }

    &__button {
      width: 100%;
      background-color: #25ce9e;
      border-radius: 0.5rem;
      color: #1c3e58;
      border: 3px solid transparent;
      padding: 0.5rem 1rem;
      font-weight: bold;
      font-size: 1.2rem;
      transition: all 0.4s ease-in-out;
      margin-top: 1rem;

      &:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(1.05);
      }
    }
  }
}

.form-wrap__box-input:not(:placeholder-shown).form-wrap__box-input:not(:focus)
  + .form-wrap__box-label {
  top: -0.7rem;
  left: 0.8rem;
  z-index: 10;
  font-weight: 500;
}
